/* General Styling */
body {
  
    background-image: url('background.jpg');
    background-size: cover; /* Adjusts the size of the image */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
  
  margin: 0;
  font-family: Arial, sans-serif;
  
  color: #f02e2e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px;
}

.input-section, .preview-section {
  flex: 1;
  min-width: 100px;
  background: linear-gradient(45deg, #d7cac1, #efc5b8);
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(241, 133, 133, 0.1);
  padding: 20px;
}

/* Section Styling */
.section {
  margin-bottom: 0px;
}
.section-h2 {
  margin-bottom: 0px;
  font-size: 50px;
  color: #2c2c2c;
}
.section-title {
  margin-bottom: 2px;
  font-size: 20px;
  color: #2c2c2c;
}

/* Input Fields */
input, textarea, button {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eba147;
  border-radius: 50px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
  border :rgba(0, 0, 0, 0.1)
  background :#feb47b
  color: rgb(39, 35, 35);
  padding: 10px;
  font-size: 14px;
  border-radius: 50px;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
}

/* Dynamic Inputs Container */
.dynamic-inputs > div {
  margin-bottom: 10px;
}

/* Resume Preview */
.preview-content {
  background-color: #f9f9f9;
  border: 1px dashed #ddd;
  border-radius: 5px;
  padding: 200px;
  font-size: 14px;
}

.print-btn {
  background-color: #6c63ff;
  margin-top: 10px;
}

.print-btn:hover {
  background-color: #5548d8;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
